type {{ .StructName }}Option{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}} {{$param.Type}}{{end}}]{{end}} interface {
	apply(*{{ .StructName }}{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}})
}

// New{{ .StructName }} creates a new {{ .StructName }} with required fields and functional options.
func New{{ .StructName }}{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}} {{$param.Type}}{{end}}]{{end}}({{ range $index, $field := .Fields }}{{ $field.Name | bigCamelToSmallCamel | safeName }} {{ $field.Type }},{{ end }} opts ...{{ $.StructName }}Option{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}}) *{{ .StructName }}{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}} {
	{{ .NewStructName | safeName }} := &{{ .StructName }}{{if .GenericParams}}[{{range $index, $param := .GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}}{
		{{ range $index, $field := .Fields }}{{ $field.Name }}: {{ $field.Name | bigCamelToSmallCamel | safeName }},
		{{ end }}
	}

	for _, opt := range opts {
		opt.apply({{ .NewStructName | safeName }})
	}

	return {{ .NewStructName | safeName }}
}
{{ if .OptionalFields }}
{{ range $field := .OptionalFields }}
{{ $fieldNameLower :=  $field.Name | bigCamelToSmallCamel | safeName }}
{{ $firstLetterToUpper :=  $field.Name | capitalizeFirstLetter }}
{{ $receiver :=  $.StructName | getFirstLetter }}

type {{ $.NewStructName }}{{ $firstLetterToUpper }}Opt{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}} {{$param.Type}}{{end}}]{{end}} struct {
	{{ $fieldNameLower }} {{ $field.Type }}
}

func ({{ $receiver }} {{ $.NewStructName }}{{ $firstLetterToUpper }}Opt{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}}) apply(opt *{{ $.StructName }}{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}}) {
	opt.{{ $field.Name }} = {{ $receiver }}.{{ $fieldNameLower }}
}

// With{{ $.WithPrefix }}{{ $firstLetterToUpper }} sets the {{ $field.Name }} field.
func With{{ $.WithPrefix }}{{ $firstLetterToUpper }}{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}} {{$param.Type}}{{end}}]{{end}}({{ $fieldNameLower }} {{ $field.Type }}) {{ $.StructName }}Option{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}} {
	return {{ $.NewStructName }}{{ $firstLetterToUpper }}Opt{{if $.GenericParams}}[{{range $index, $param := $.GenericParams}}{{if $index}}, {{end}}{{$param.Name}}{{end}}]{{end}}{
		{{ $fieldNameLower }}: {{ $fieldNameLower }},
	}
}
{{ end }}
{{ end }}
